/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #FF585D;
$secondary: #74D1EA;
$tertiary:  #252C37;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://github.com/ankitgehlot123/jiethack/blob/master/assets/images/banner.jpg?raw=true');
